<section>
    <div class="container">


        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    
                    
                </tr>
            </thead>
            <tbody>
                
                <tr>
                    <th scope="row">{{user.Name}}</th>
                    <td>{{user.Email}}</td>
              
                
                </tr>
                
            </tbody>
        </table>
    </div>
</section>